


.accueil{
    .carousel{
        width: 35vw;
        height: 35vw;
    }

}

//------------------------------------ Media queries

@media screen and (max-width: 1068px) {
    .accueil{
        .carousel{
            width: 100%;
            height: auto;
        }
    }
}
