
main{
    padding: 10px;
    background-color: $color_1;
    color: whitesmoke;
    .margin-b{
        margin-bottom: 25px;
    }
    strong{
        color: $color_4;
    }
    h4{
        text-align: center;
        margin-top: 8px;
        margin-bottom: 18px;
        span{
            color: $color_4;
        }
    }
    section{
        border: 4px solid whitesmoke;
        border-radius: 12px;
        padding: 25px;
    }
    .middle{
        section{
            width: 36vw;
        }
        .pc{
            position: relative;
            div{
                position: absolute;
                left: 64px;
                top: 38px;
                width: 308px;
                height: 181px;
                overflow: hidden;
                text-wrap: wrap;
                //background-color: green;
            }
        }
    }
    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left, .right{
            width: 44vw;
        }
        .right{
            ul{
                list-style: none;
                li{
                    margin: 8px;
                }
            }
            a{
                color: $color_4;
                font-size: 1.2rem;
                padding: 30px;
            }
        }
    }
    .photo{
        width: 290px;
        height: 290px;
        left: 50%;
        z-index:99;
        background-color: $color_1;
        transform: translate(-50%);
        border: 4px solid whitesmoke;
        background-image: url("../images/moi.png");
        background-size: contain;
        border-radius: 50%;
        position: absolute;
    }

    .experience{
        img{
            width: 3vw;
            height: auto;
        }
        li:first-child{
            list-style: none;
        }
    }
    .competences{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 60px;
        img{
            width: 5vw;
            height: auto;
        }
        p{
            text-align: center;
        }
    }
    .about{
        p{
            margin-top: 40px;
        }
    }
    .ul{
        margin-top: 40px;
    }

}

//------------------------------------ Media queries

@media screen and (max-width: 1068px){
    main{
        .photo{
            position: relative;
            top: 0px;
        }
        .flex{
            display: flex;
            flex-direction: column-reverse;
            .left,.right{
                width: 100%;
            }
        }
    }

}
