

.fun{
    a{
        text-align: center;
        color: $color_4;
        margin-top: 8px;
    }
    .livre{
        margin: 15px 0;
        img{
            width: 100px;
            height: 160px;
            margin: auto;
        }
    }

    .film{
        margin: 15px 0;
        img{
            width: 100px;
            height: 160px;
            margin: auto;
        }
    }
}


