@import "_variables";
@import '_cv';
@import '_accueil';
@import '_fun';


header{
    img{
        width: 64px;
        height: auto;
        margin-right: 15px;
    }
    a{
        img{
            width: 24px;
            height: auto;
        }
    }

}
